.Content_wrapper{
    margin: 20px;
    position: relative;
}
p{
}
h5{
    margin-top: 10px;
}
.qualifier{
    color: #DECB6B;
    background-color: #263238;
    border-radius: 5px;
    padding: 3px;
}